.container-fluid{
    position: relative;
    text-align: center;
    color: #efefef;
}

.centered {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron-hr {
    width: 30%;
    color: white;
}

.padding-0{
    padding: 0;
}

.hey{
    font-size: 100%;
}

.name{
    font-size: 140%;
    display: inline-block;
}